files:
  "/sbin/appstart":
    mode: "000755"
    owner: webapp
    group: webapp
    content: |
      #!/usr/bin/env bash
      JAR_PATH=/var/app/current/application.jar
      PID_DIR=/var/pids

      # load JAVA_OPTS from Beanstalk envvars file
      if [ -f /opt/elasticbeanstalk/support/envvars ]; then
        source /opt/elasticbeanstalk/support/envvars
      fi

      # run app
      killall java || true
      mkdir -p $PID_DIR
      java -Dfile.encoding=UTF-8 -Dspring.profiles.active=${SPRING_PROFILES_ACTIVE} $JAVA_OPTS -jar $JAR_PATH &
      echo $! > $PID_DIR/web.pid