container_commands:
  01-set-jvm-opts:
    command: |
      echo 'JAVA_OPTS="$JAVA_OPTS \
        -Xms256m \
        -Xmx512m \
        -XX:+HeapDumpOnOutOfMemoryError \
        -XX:HeapDumpPath=/var/log/heap/dump-`date +%s`.hprof \
        -XX:+PrintGCDetails \
        -XX:+PrintGCDateStamps \
        -Xloggc:/var/log/gc.log"' >> /opt/elasticbeanstalk/support/envvars